/* Base Element Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #f8a0de;
    text-align: center;   
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;  
    color: white;
}

a:hover {
    color:black;
}

ul li {
    background-color: white;
    display: block; 
    font-size: medium;
    margin: 5px 8px;
    padding: 10px 15px; 
}    
 
img {  
    max-width: 100%;
}



/* Base Layout Styles */
.nav-text {
    color: black;
}

#name,
h2 {
    font-family: 'Oranienbaum', serif;
}

.main-navigation {
    padding-left: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
}

#about {
    text-align: center;
    margin: 30px 15px;
    }

.profile-image {
    width: 75%;
}

.container { 
    padding: 1em;
    background-color: white; 
    margin-top: -1em;
    margin-bottom: -1em;
}
     
.footer-navigation  {
    display: none;
}

#footer-name {
    position: absolute;
    color: white;
    font-family: 'Oranienbaum', serif;
    font-size: 16px;
    margin: 15px;
}   

#backtop {
    float: right;
    margin: 15px;
    font-family: 'Oranienbaum', serif;
}

.bottom-container {
    margin-top: 50px;
}

.footer-section {
    margin: 50px 20px;
}

/* Media Query */
 
@media (min-width: 768px) {

    ul li{
        display: inline-block; 
        background-color: transparent;
    } 

    .profile-image {
        width: 45%;
        float: right;
        margin-bottom: 0;
    }

    #about {
        width: 50%;
        text-align: left;
        float: left;
    }     

    #portfolio {
        margin-bottom: 50px;
        font-size: 1.5em;
    }

    .col { 
        width: 50%;
        float: left;   
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 25px;
    }
         
    .banner {
        margin: 50px 20px;
    }    

    .nav-text:hover {
        color: white;
    }

    #footer-name {
        position: absolute;
        padding: 0;
        margin-top: 30px;
        color: white
    }
        
    .footer-navigation {
        display: inline-block; 
        background-color: transparent;
        float: right;
        text-transform: uppercase;
    }
    
    #backtop {
        display: none;
    }
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
} 

@media (min-width: 1024px) {
    body {
        
    }

    ul li{
        display: inline-block;
    }     

    .wrap {
        max-width: 1225px;
        margin: 12px;
    }

    #name {
        float: left;
        margin-left: 25px;
        width: 40%;
    }
    
    .main-navigation {
        float: right;
        margin-bottom: 25px; 
    }
    
    .profile-image {
        width: 35%;
        float: right;
    }

    #about {
        width: 40%;
        text-align: left;
        float: left;
    }  
    
   
    .col { 
        width: 32.5%;
        float: left;   
        padding-left: 1em;
        padding-right: 1em;
    }
         
    .nav-text:hover {
        color: white;
    }

    .bottom-container {
        margin-top: 30px;
        margin-bottom: 10px;
    }


    #footer-name {
        position: absolute;
        margin-top: 30px;
        margin-left: 20px;
    }
        
    .footer-navigation  {
        display: inline;
        float: right;
    }
       
    .clearfix::before {
        content: "";
        display: table;
        clear: both;
    }  
} 
